- if api_details['method'].present? && %{post get}.include?(api_details['method'].downcase)
  %hr/
  %p
    %strong Try it out: 
    %em #{api_details['method']} #{ApiDocs.config.api_url}/v1#{api_details['url']}
    = bootstrap_form_for '', :url => "#{ApiDocs.config.api_url}/v1#{api_details['url']}", :html => {:method => api_details['method'], :target => '_blank', :class => 'form-horizontal', 'data-url' => "#{ApiDocs.config.api_url}/v1#{api_details['url']}"} do |f|
      - case params
      - when Array
        - api_details['params'].each do |param|
          = f.text_field param, :label => param, :name => param
      - when Hash
        - api_details['params'].each do |param, description|
          = f.text_field param, :label => param, :name => param, :help_block => description

      .form-actions
        = f.submit :send, :class => 'btn-primary'

