.tabbable.tabs-left
  .row
    - if api.length > 1
      .span2
        %ul.nav.nav-tabs.sub-tabs
          - api.each do |api_path, api_details|
            %li
              = link_to "##{label}-#{api_path.gsub(/[\/\: ]/, '')}".downcase, "data-toggle" => "tab" do
                = api_path

    %div{:class => (api.length > 1 ? 'span10' : 'span12')}
      %div{:class => ('tab-content' if api.length > 1)}
        - api.each do |api_path, api_details|
          .tab-pane{:id => "#{label}-#{api_path.gsub(/[\/\: ]/, '')}".downcase}
            %h3
              = api_path
              - if api_details['method']
                %span.label.label-important= api_details['method']
                %small #{ApiDocs.config.api_url}#{api_details['url']}

            - if api_details['description']
              %pre= api_details['description'].html_safe
            
            = render :partial => 'api_docs/params', :object => api_details['params']
                
            .row
              = render :partial => 'api_docs/response', :object => api_details, :locals => {:response_type => 'success'}
              = render :partial => 'api_docs/response', :object => api_details, :locals => {:response_type => 'fail'}

            = render :partial => 'api_docs/curl', :locals => {:api_details => api_details}
              
            = render :partial => 'api_docs/form', :locals => {:api_details => api_details}

